[Desktop Entry]
Encoding=UTF-8
Name=Trollcoin Core
Comment=Connect to the Trollcoin P2P Network
Comment[de]=Verbinde mit dem Trollcoin peer-to-peer Netzwerk
Comment[fr]=Trollcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Trollcoin, eşten eşe kriptografik sanal para birimi
Exec=trollcoin-qt %u
Terminal=false
Type=Application
Icon=trollcoin128
MimeType=x-scheme-handler/trollcoin;
Categories=Office;Finance;
